@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --color-white-primary: #f8f9fa;
    --color-white-secondary: #e9ecef;
    --color-white-terciary: #dedede;

    --color-black-primary: #ffffff44;
    --color-black-secondary: #343a40;
    --color-black-terciary: #232323;
    
    --color-blue-primary: #28aafe;
    --color-blue-secondary: #0096c7;
    --color-blue-terciary: #19699e;

    --color-red-primary: #ff173e;
    --color-red-secondary: #dc0a2d;
    --color-red-terciary: #8b0519;

    --color-green-primary: #52ae5f;
    --color-green-secondary: #336a3f;
    --color-green-terciary: #00312c;

    --color-yellow-primary: #ffc300;
    --color-yellow-secondary: #d8a604;

    --color-one: #52ae5f;
    --color-two: #232323;
    --color-three: #00312c;
    --color-four: #860c23;
    --color-five: #dedede;
    --color-six: #dc0a2d;
    --color-seven: #28aafe;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg, #05668d, #00a896);
    height: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-red-secondary);
}