@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --color-white-primary: #f8f9fa;
    --color-white-secondary: #e9ecef;
    --color-white-terciary: #dedede;

    --color-black-primary: #232323;
    --color-black-secondary: #212529;
    --color-black-terciary: #343a40;

    --color-blue-primary: #19699e;
    --color-blue-secondary: #0096c7;
    --color-blue-terciary: #28aafe;

    --color-red-primary: #8b0519;
    --color-red-secondary: #dc0a2d;
    --color-red-terciary: #ff173e;

    --color-green: #52ae5f;
    --color-yellow: #ffc300;
}

body {
    font-family: "Poppins", sans-serif;
}
